*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Cores Primárias */
  --primary-color: #2343fe;
  --secondary-color: #1e37cf;

  /* Cores Análogas */
  --info-color: #238cfe;
  --light-blue-color: #23d5fe;
  --success-color: #31fe23;
  --warning-color: #fede23;
  --dark-yellow-color: #fe9523;
  --danger-color: #fe2355;
  --pink-color: #fe23b1;
  --purple-color: #4c23fe;

  /* Cores Monocromáticas */
  --white-color: #ffffff;
  --bg-color-1: #f2f2f2;
  /* --bg-color-1: #252534; */
  --bg-color-2: #e2e2e2;
  --bg-color-3: #d2d2d2;
  --bg-color-4: #c8c8c8;
  --bg-color-5: #bcbcbc;
  --bg-color-6: #aeaeae;

  /* Cores para Textos */
  --text-primary-color: #252534;
  --text-secondary-color: #9595a4;
  --text-tertiary-color: #a7a7b3;
  --text-light-color: #f2f2f2;

  /* Font Size */
  --font-size-text: 16px;

  /* Geral */
  --border-radius-default: 16px;

  /* Stepper */
  --stepper-circle-size: 48px;
}

/* 
Breakpoints (...., 1400, 1200, 992, 768, 576)
Containers  (1320, 1140, 960, 720, 540, 100%)  
*/

/* 
Breakpoints - Padrões de Uso:

@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
*/

/* Geral */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--bg-color-1);
  margin: 0;
  color: var(--text-primary-color);
}

section {
  display: flex;
  justify-content: center;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* Flex */
.justify-content-end {
  justify-content: end;
}

/* Display */
.d-none {
  display: none !important;
}

/* Container */
.container {
  flex: 1;
  /* max-width: 1320px; */
  max-width: 960px;
}

@media (max-width: 1400px) {
  .container {
    /* max-width: 1140px; */
    max-width: 960px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

/* Header */
#header {
  background-color: var(--primary-color);
  padding: 48px 0 64px 0;
}

#header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header .title {
  color: var(--text-light-color);
  font-size: 32px;
  text-align: center;
  margin: 0;
}

#header .stepper-container {
  margin-top: 48px;
  width: 600px;
}

#header .stepper {
  display: flex;
}

#header .stepper .item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  color: var(--text-light-color);
  opacity: 0.4;
}

#header .stepper .item.checked {
  color: var(--success-color);
  opacity: 1;
}

#header .stepper .item.selected {
  color: var(--text-light-color);
  opacity: 1;
}

#header .stepper .item::before {
  content: '';
  display: block;
  width: var(--stepper-circle-size);
  height: var(--stepper-circle-size);
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--bg-color-1);
  transition: 0.25s;
}

#header .stepper .item:hover::before {
  border-radius: var(--border-radius-default);
}

#header .stepper .item.checked::before {
  border: 2px solid var(--success-color);
  opacity: 1;
}

#header .stepper .item:not(:last-child)::after {
  content: '';
  position: relative;
  width: calc(100% - var(--stepper-circle-size));
  height: 2px;
  top: calc(var(--stepper-circle-size) / 2);
  left: calc(50% + var(--stepper-circle-size) / 2);
  background-color: var(--bg-color-1);
  order: -1;
}

#header .stepper .item.checked:not(:last-child)::after {
  background-color: var(--success-color);
  opacity: 1;
}

#header .stepper .item.selected:not(:last-child)::after {
  opacity: 0.4;
}

#header .stepper .item .icon {
  font-size: 36px;
  margin-top: -41px;
}

#header .stepper .item .description {
  font-size: var(--font-size-text);
  font-weight: 400;
  margin: 24px 0 0 0;
}

@media (max-width: 768px) {
  #header .stepper-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
}

/* Content */
#content {
  display: flex;
  justify-content: center;
  margin-top: -16px;
  background-color: var(--bg-color-1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#content .container {
  display: flex;
  gap: 16px;
  padding: 24px;
}

#content .col-left {
  width: 320px;
}

#content .col-left .menu {
  padding: 24px;
  height: 100%;
  background-color: var(--bg-color-2);
  border-radius: var(--border-radius-default);
}

#content .col-left .menu hr {
  border-top: 1px solid var(--bg-color-6);
  margin-top: 16px;
  border-bottom: 0;
}

#content .col-left .menu .item-photo {
  display: flex;
  align-items: center;
}

#content .col-left .menu .item-photo img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

#content .col-left .menu .item-photo h4 {
  margin: 0 0 0 16px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

#content .col-left .menu .item-icon {
  display: flex;
  margin-top: 16px;
}

#content .col-left .menu .item-icon .icon {
  display: flex;
  justify-content: center;
  width: 28px;
  margin-right: 16px;
}

#content .col-left .menu .item-icon span,
#content .col-left .menu .item-icon svg {
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
}

#content .col-left .menu .item-icon span {
  font-size: 24px;
}

#content .col-left .menu .item-icon svg {
  font-size: 20px;
}

#content .col-left .menu .item-icon p {
  margin: 0;
  font-weight: 500;
}

#content .col-right {
  flex: 1;
}

#content .col-right .card {
  padding: 24px 32px;
  background-color: var(--bg-color-2);
  border-radius: var(--border-radius-default);
}

#content .col-right section {
  display: block;
}

@media (max-width: 768px) {
  #content .container {
    flex-direction: column;
    padding: 16px;
  }

  #content .col-left {
    width: 100%;
  }
}

@media (max-width: 576px) {
}

/* Form / Input Container */

.form {
  display: flex;
  flex-direction: column;
  padding: 24px 0 8px 0;
  gap: 32px;
}

.form .input-container {
  position: relative;
}

.form .input-container input,
.form .input-container select {
  font-family: inherit;
  font-size: var(--font-size-text);
  width: 100%;
  padding: 8px 0px;
  border: none;
  border-bottom: 2px solid var(--bg-color-4);
  color: var(--text-primary-color);
  background-color: transparent;
  outline: none;
}

.form .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-secondary-color);
  transition: all 0.25s ease;
}

.form .input-container input:focus ~ label,
.form .input-container input:valid ~ label,
.form .input-container select:valid ~ label {
  top: -16px;
  font-size: 12px;
}

.form .input-container .underline {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-secondary-color);
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.form .input-container input:focus ~ .underline {
  transform: scaleX(1);
}

.form .invalid-form-text {
  color: var(--danger-color);
  font-size: 14px;
  font-weight: 700;
}

/* Buttons */
.btn-container {
  display: flex;
  gap: 16px;
}

.btn {
  font-family: inherit;
  font-size: var(--font-size-text);
  padding: 12px 24px;
  border: none;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  transition: 0.25s;
}

.btn-primary {
  color: var(--text-light-color);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: var(--bg-color-4);
}

.btn-secondary:hover {
  background-color: var(--bg-color-5);
}
